@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Montserrat', sans-serif;
}

.orange-btn {
	@apply bg-[#FF5A5A] text-white p-5 
		rounded-2xl flex items-center font-semibold 
		hover:bg-black hover:text-white transition-all 
		duration-300 ease-out;
}

.blue-btn {
	@apply bg-[#FCFCFC] text-blue-600 text-xl p-5 
		rounded-2xl flex items-center font-semibold 
		hover:bg-blue-600 hover:text-white transition-all 
		duration-300 ease-out;
}

.blue-btn-inverse {
	@apply hover:bg-[#FCFCFC] hover:text-blue-600 text-xl p-5 
		rounded-2xl flex items-center font-semibold 
		bg-blue-600 text-white transition-all border-2 border-blue-600
		duration-300 ease-out;
}

.max-w-container {
	@apply max-w-[75rem] mx-auto;
}

.align-float-vertical {
	@apply absolute top-1/2 transform -translate-y-1/2;
}

.subscribe-btn {
	@apply text-xs align-float-vertical right-5 bg-[#f7f8fb] 
		p-3 rounded-lg font-semibold hover:text-[#FF5A5A] 
		active:text-black transition-all duration-300 ease-in-out;
}

.subscribe-input {
	@apply w-[24rem] p-5 pl-16 pr-32 bg-white rounded-3xl 
	outline-none focus:outline-none;
}

.subscribe-container {
	@apply min-h-[30rem] flex flex-col items-center 
	justify-center text-center rounded-3xl 
	bg-gradient-to-r from-[#00ffcc] to-[#24DBB7]
	mb-32 space-y-12;
}

.promoted-card {
	@apply min-h-[25rem] flex items-center 
		rounded-3xl bg-[#f7f8fb] px-32;
}

.hover-transition {
	@apply transition-all duration-500 ease-in-out;
}

.landing-background {
	@apply bg-gradient-to-b from-[#f2f4f5] to-white;
}
